---
const experiencias = [
  {
    empresa: "TATOO ADVENTURE GEAR S.A.",
    fecha: "Mayo - Noviembre (2024)",
    ubicacion: "Quito - Ecuador",
    puesto: "Pasante de Tecnología",
    responsabilidades: [
      "Ayudé a desarrollar el módulo de marcas para el portal web de administración usando tecnología como PHP, Laravel y Livewire.",
      "Realicé diversas actividades relacionadas con la administración y mantenimiento del portal web corporativo.",
      "Brindé soporte técnico a usuarios, resolviendo incidencias y garantizando la continuidad operativa.",
      "Ejecuté tareas de mantenimiento preventivo y correctivo en equipos de cómputo, asegurando su óptimo funcionamiento.",
    ],
  },
  {
    empresa: "ECUADORIAN SOFTWARE ESOFT",
    fecha: "Noviembre - Febrero (2025)",
    ubicacion: "Quito - Ecuador",
    puesto: "Ingeniero de Desarrollo",
    responsabilidades: [
      "Desarrollo de funcionalidades backend con .NET.",
      "Implementación y mantenimiento de componentes frontend.",
      "Pruebas de calidad (QA) en el software desarrollado por el equipo.",
      "Colaboración en la optimización y mejora del código existente.",
    ],
  },
];
---

<div
  id="experience"
  class="experience fade-in flex flex-col items-center mx-auto px-10 md:px-10 lg:px-20 xl:px-32 mb-20"
>
  <h2
    class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-[800] justify-center items-center mb-20"
  >
    Experiencia
  </h2>

  <div class="contenedor grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    {
      experiencias.map((exp) => (
        <div class="p-8 md:p-10 rounded-2xl border border-white/30 shadow-lg transform transition-all duration-300 ease-out hover:scale-[1.03] hover:-rotate-1">
          <h3 class="text-2xl font-semibold text-white text-center drop-shadow-md">
            {exp.empresa}
          </h3>
          <p class="text-gray-300 text-sm text-center mt-1">
            {exp.fecha} • {exp.ubicacion}
          </p>
          <h4 class="text-lg font-medium text-white mt-3 text-center">
            {exp.puesto}
          </h4>
          <ul class="mt-4 space-y-2 text-gray-300 text-sm leading-relaxed">
            {exp.responsabilidades.map((tarea, i) => (
              <li class="flex items-start gap-2">
                <span>•</span> {tarea}
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>


<style>

  .experience h2 {
    color: var(--colorfont);
    text-shadow: 0 0 8px var(--colorwhiteshadow);
  }

  .experience h3, .experience h4 {
    color: var(--colorfont);
  }

  .experience ul {
    color: var(--colorgray300);

    li span {
      color: var(--colorgray300);
    }
  }  

  .experience p {
    color: var(--colorgray300);
  }

  .contenedor > div {
    background-color: var(--colorbackground);
    border: 1px solid var(--colorborder);
  }

  .contenedor > div:hover {
    box-shadow: 0 0 15px var(--shadowborder);
  }
</style>