---
const projects = [
  {
    title: "Tesla",
    description:
      "Desarrollo de una tienda con carrito de compras y pago integrado.",
    image: "/portfolio/tesla.png",
    tecnologias: ["Astro", "TailwindCSS"],
    link: "https://nicotoscano.github.io/tesla/",
  },
  {
    title: "Coffee Shop",
    description:
      "Un dashboard para gestionar usuarios y productos con estadísticas.",
    image: "/portfolio/coffee.png",
    tecnologias: ["Html", "Css", "Javascript"],
    link: "https://nicotoscano.github.io/CoffeeShop/",
  },
];
---

<div
  id="projects"
  class="proyectos fade-in flex flex-col items-center mx-auto px-10 md:px-10 lg:px-20 xl:px-32 mb-20"
>
  <h2
    class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-[800] justify-center items-center mb-20"
  >
    Proyectos
  </h2>

  <div class="contenedor grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    {
      projects.map((project) => (
        <div class="hover:scale-105 p-8 md:p-10 rounded-2xl transition-transform transform">
          <a
            href={project.link}
            class="block rounded-xl transition-transform" target="_blank"
          >
            <img src={project.image} class="w-full h-48 object-cover rounded-lg mb-4" alt={project.description} />
            <h3 class="text-xl font-semibold">{project.title}</h3>
            <p class="text-gray-300 text-sm">{project.description}</p>
            <div class="flex flex-wrap gap-2 mt-2">
              {project.tecnologias.map((tecnologia) => (
              <span class="tech px-2 py-1 rounded text-white text-sm">
                {tecnologia}
              </span>
              ))}
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>

<style>

  .proyectos h2{
    color: var(--colorfont);
    text-shadow: 0 0 8px var(--colorwhiteshadow);
  }

  .proyectos h2{
    color: var(--colorfont);
    text-shadow: 0 0 8px var(--colorwhiteshadow);
  }

  .contenedor > div {
    background-color: var(--colorbackground);
    border: 1px solid var(--colorborder);

  }

  .contenedor .tech {
    font-weight: 700;
    color: var(--colorfont);
    background-color: var(--colorbutton);
  }

  .contenedor h3 {
    color: var(--colorfont);
  }

  .contenedor p {
    color: var(--colorgray300);
  }

  .contenedor > div:hover {
    box-shadow: 0 0 15px var(--shadowborder);
  }
</style>